<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/header.css">
    <title>HeaderStudent</title>
</head>
<body>
    <header>
        <nav class="header">
            <img src="../assets/images/LogoBlanco.png" alt="Logo Techpediasoft" class="logo">
            <ul class="nav-links">
                <li><a href="../modules/home-student.html">Inicio</a></li>
                <li><a href="../modules/assignment-student.html">Mis Asignaciones</a></li>
                <li><a href="../modules/board-student.html">Mi Tablero</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>